.comingSoon {
  margin-top: 8px;
  margin-left: 30px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #8c638e;
  letter-spacing: 0.28rem;
  animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}